* , *::after , *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Montserrat , sans-serif , cursive , serif;
  height: auto;
}
.clearfix{
  clear: both;
}

/* start header section */
.container{
  width: 1100px;
  margin: auto;
}
section.tophead{
  width: 100%;
  height: 70px;
  background-color: #000;
}
section.tophead .tophead_logo{
  float: left;
  color: white;
  padding-top: 15px;
  text-transform: uppercase;
}
section.tophead .tophead_nav{
  float: right;
}
section.tophead .tophead_nav ul li{
  float: left;
  padding-left: 15px;
  padding-top: 15px;
  list-style-type: none;

}
section.tophead .tophead_nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
section.tophead .tophead_nav ul li a:hover{
  color: #ddd;
}
/* Start About Section */
section.about{
  height: 500px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}
section.about .about_content{
  text-align: center;
  padding-top: 50px;
}
section.about .about_content p{
  font-size: 30px;
  color: white;
  margin-bottom: 2%;
  margin-top:30px;;
  font-family: cursive;
  line-height: 2;
}
section.about .about_content button{
  background-color: #D84780;
  font-size: 25px;
  color: white;
  width: 250px;
  border-radius: 10px;
  margin-top: 20px;
  height: 60px;
}
section.about .about_content button:hover{
  background-color: #ccc;
}
/* Blog Section */
section.blog{
  width: 100%;
  height: 1250px;
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
}
section.blog .part{
  width: 31%;
  text-align: center  ;
  background-color: white;
  border-radius: 10px;
  float: left;
  margin-left: 2%;
  margin-bottom: 1%;
}
section.blog .part img{
  margin-bottom: 30px;
  width: 100%
}
section.blog .part p{
  font-size: 20px;
  line-height: 1.5;
  padding: 10px;
  margin: 0;
}
section.blog .part button{
  background-color: #D84780;
  font-size: 20px;
  color: white;
  width: 150px;
  border-radius: 10px;
  margin-top: 20px;
  height: 40px;
  margin-bottom: 8%;
}
section.blog .part button:hover{
  background-color: #ccc;
}
/* start information section */
section.blog .writting{
	width: 450px;
	height: 150px;
	color: #fff;
	float: left;
	margin-left: 100px;;
	margin-right: 6%;
  margin-top: 30px;
  font-size: 18px;
}

section.blog .writting i{
	width: 50px;
	height: 100%;
	position: relative;
	top: 25px;
	float: left;
	padding-right: 20px;
}

section.blog .writting p{
	font-family: Tahoma;
	font-size: 17px;
	color: #777;
}
/* contact section */
section.contact{
  width: 100%;
  height: 550px;
  background-color: #D84780;
  text-align: center;
  padding-top: 20px;
}
section.contact h2{
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
section.contact p{
  color: #ccc;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
section.contact form input{
  display: block;
  margin: auto;
  width: 700px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  outline: 0;
}
section.contact form textarea{
  display: block;
  width: 700px;
  margin: auto;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;
  outline: 0;
}
section.contact form textarea:hover,input:hover{
  background-color: #eee;
}
section.contact form button{
  background: none;
  border: 1px solid #ccc;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin-top: 10px;
  color: white ;
  border-radius: 10px;
  cursor: pointer;
}
/* footer section */
footer{
  width: 100%;
  height: 80px;
  background-color: #222;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
}
footer p{
  margin-bottom: 10px;
}
footer i{
  font-size: 25px;
  cursor: pointer;
}
